.tabEditorContainer {
  $gap: var(--padding-xxs);
  $border: 2px solid white;
  $width: 2rem;

  display: flex;
  flex-direction: column;
  gap: var(--padding-md);
  padding: var(--padding-md);

  .tabName {
    font-size: var(--font-size-lg);
    font-weight: bold;
  }

  .tabContainer {
    display: inline-flex;
    flex-direction: row;

    .tabCol {
      width: $width;
      height: 100%;
      display: flex;

      &:first-of-type,
      &.separator {
        border-right: $border;
      }

      &.remove {
        border-radius: var(--border-radius-sm);
        background-color: var(--alert-colour);
      }

      .col {
        display: flex;
        flex-direction: column;
        gap: $gap;
        flex: 1;

        & > * {
          height: $width;
        }

        & > *:first-child {
          border-bottom: $border;
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;
        }
      }

      .columnButtonContainer {
        position: relative;
        width: calc($gap / 3);
        margin-left: calc($gap / 3);
        margin-right: calc($gap / 3);

        div {
          position: absolute;
          display: flex;
          left: -1.7rem;
          top: -1rem;
          gap: $gap;

          button {
            display: none;
            border-radius: 50rem;
            height: 1rem;
            width: 1rem;
          }
        }
      }

      &:hover {
        .columnButtonContainer {
          background-color: var(--primary-colour);
          div {
            button {
              display: flex;
            }
          }
        }
      }
    }

    .tabEndCol {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: $gap;
      border-left: $border;
      cursor: pointer;
      width: $width;
    }
  }
}
