:root {
  /* Colours */
  // TODO: Allow for dynamic changing of primary and seconday colours
  $primary-colour-rgb: 91, 42, 204;
  $primary-colour: rgb(
    nth($primary-colour-rgb, 1),
    nth($primary-colour-rgb, 2),
    nth($primary-colour-rgb, 3)
  );
  $primary-colour-light: lighten($primary-colour, 10%);
  $primary-colour-light-2: lighten($primary-colour, 20%);
  $primary-colour-dark: darken($primary-colour, 10%);
  $primary-colour-darker: darken($primary-colour, 25%);

  $secondary-colour-rgb: 54, 201, 94;
  $secondary-colour: rgb(
    nth($secondary-colour-rgb, 1),
    nth($secondary-colour-rgb, 2),
    nth($secondary-colour-rgb, 3)
  );
  $secondary-colour-light: lighten($secondary-colour, 10%);
  $secondary-colour-light-2: lighten($secondary-colour, 20%);
  $secondary-colour-dark: darken($secondary-colour, 10%);
  $secondary-colour-darker: darken($secondary-colour, 25%);

  --primary-colour-rgb: #{$primary-colour-rgb};
  --primary-colour: #{$primary-colour};
  --primary-colour-light: #{$primary-colour-light};
  --primary-colour-light-2: #{$primary-colour-light-2};
  --primary-colour-dark: #{$primary-colour-dark};
  --primary-colour-darker: #{$primary-colour-darker};

  --secondary-colour-rgb: #{$secondary-colour-rgb};
  --secondary-colour: #{$secondary-colour};
  --secondary-colour-light: #{$secondary-colour-light};
  --secondary-colour-light-2: #{$secondary-colour-light-2};
  --secondary-colour-dark: #{$secondary-colour-dark};
  --secondary-colour-darker: #{$secondary-colour-darker};

  --background-colour-rgb: 25, 25, 25;
  --background-colour: rgb(var(--background-colour-rgb));

  --background-colour-light-rgb: 31, 31, 31;
  --background-colour-light: rgb(var(--background-colour-light-rgb));

  --background-colour-light-2-rgb: 37, 37, 37;
  --background-colour-light-2: rgb(var(--background-colour-light-2-rgb));

  --background-colour-dark-rgb: 15, 15, 15;
  --background-colour-dark: rgb(var(--background-colour-dark-rgb));

  --inactive-colour-rgb: 100, 100, 100;
  --inactive-colour: rgb(var(--inactive-colour-rgb));

  --success-colour-rgb: 38, 190, 64;
  --success-colour: rgb(var(--success-colour-rgb));

  --alert-colour-rgb: 212, 44, 44;
  --alert-colour: rgb(var(--alert-colour-rgb));

  /* Text Colours */
  --text-colour-rgb: 255, 255, 255;
  --text-colour: rgba(var(--text-colour-rgb));

  --text-colour-grey-rgb: 200, 200, 200;
  --text-colour-grey: rgba(var(--text-colour-grey-rgb));

  --text-colour-dark-rgb: 15, 15, 15;
  --text-colour-dark: rgba(var(--text-colour-dark-rgb));

  --text-alert-colour-rgb: 250, 53, 53;
  --text-alert-colour: rgb(var(--text-alert-colour-rgb));

  /* Box Shadows */
  --box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  --box-shadow-harsh: 0 0 15px rgba(0, 0, 0, 0.5);
  --box-shadow-right: 5px 0 10px rgba(0, 0, 0, 0.2);

  /* Paddings */
  --padding-xxs: 0.25rem;
  --padding-xs: 0.5rem;
  --padding-sm: 0.75rem;
  --padding-md: 1rem;
  --padding-lg: 1.25rem;

  /* Margins */
  --margin-xxs: 0.25rem;
  --margin-xs: 0.5rem;
  --margin-sm: 0.75rem;
  --margin-md: 1rem;
  --margin-lg: 1.25rem;

  /* Border Radii */
  --border-radius-xs: 0.2rem;
  --border-radius-sm: 0.3rem;
  --border-radius-md: 0.5rem;
  --border-radius-lg: 0.8rem;

  /* Transitions */
  --transition-quick: 0.2s ease;
  --transition: 0.3s ease;

  /* Font Sizes */
  --font-size-xs: 0.8rem;
  --font-size-sm: 0.9rem;
  --font-size-md: 1rem;
  --font-size-lg: 1.2rem;
  --font-size-xl: 1.5rem;

  color: var(--text-colour);
  background-color: var(--background-colour);

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

span {
  display: flex;
  place-items: center;
}

button,
.button {
  border: none;
  padding: var(--padding-xs);
  border-radius: var(--border-radius-xs);
  cursor: pointer;
  transition: var(--transition);
  background-color: var(--primary-colour);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
  line-height: 0.9rem;

  &:hover {
    background-color: var(--primary-colour-dark);
  }

  &:disabled {
    background-color: var(--inactive-colour);
    cursor: not-allowed;
  }

  &.success {
    background-color: var(--success-colour);
  }
}

a {
  color: var(--text-colour);
  cursor: pointer;
}

input:not([type="range"]),
textarea {
  $outline-width: 2px;
  color: var(--text-colour);

  background-color: rgba(0, 0, 0, 0.2);
  border: none;
  border-radius: var(--border-radius-xs);
  width: 100%;
  resize: none;
  padding: var(--padding-xs);
  outline-offset: calc($outline-width * -1);
  transition: var(--transition-quick);
  outline: $outline-width solid transparent;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.3);
}

::-webkit-scrollbar-corner {
  background: transparent;
}
