@import "@/styles/breakpoints.scss";

.homePageContainer {
  display: flex;
  width: 100dvw;

  .sidebarHeaderButtons {
    display: flex;
    gap: var(--margin-xs);

    & > a,
    & > button {
      flex: 1;
    }
  }

  .playlist {
    display: flex;
    flex-direction: column;
    gap: var(--margin-xs);
    padding: var(--padding-sm);
    background-color: rgba(255, 255, 255, 0.03);
    border-radius: var(--border-radius-sm);

    span {
      justify-content: center;
      padding-bottom: var(--padding-sm);
      border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    }

    div {
      background-color: transparent;
      text-align: center;
    }
  }

  .homePageContent {
    flex: 1;
    height: 100dvh;
    overflow: hidden;
    padding: 2rem 5rem;
    overflow: auto;

    .instrumentSection {
      .songHeader {
        $size: 4rem;

        font-size: $size;
        font-weight: bold;
        color: rgba(255, 255, 255, 0.1);
        margin-bottom: calc($size / 4 * -1);
        text-transform: capitalize;
      }

      .songGrid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: var(--margin-lg);
        margin-bottom: var(--margin-lg);

        @include max-breakpoint(xxl) {
          grid-template-columns: repeat(3, 1fr);
        }

        @include max-breakpoint(xl) {
          grid-template-columns: repeat(2, 1fr);
        }

        @include max-breakpoint(md) {
          grid-template-columns: repeat(1, 1fr);
        }
      }
    }
  }

  .modalStyles {
    display: flex;
    flex-direction: column;
    gap: var(--margin-lg);
  }

  @include max-breakpoint(sm) {
    .homePageContent {
      padding: 10dvw;
    }
  }
}
