@import "@/styles/breakpoints.scss";

// @include max-breakpoint(md) {
//   background-color: green;
// }

.bottomBarContainer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  transition: var(--transition);
  z-index: 2;

  &.sidebarOpen {
    $width: 20rem;

    width: calc(100% - $width);
    margin-left: $width;
  }

  &.closed {
    bottom: -5rem;
  }

  .bottomBarContent {
    display: flex;
    flex-direction: column;
    background-color: var(--background-colour-dark);
    padding: 1rem;
  }
}
