@import "@/styles/breakpoints.scss";

.tabViewerContainer {
  $gap: var(--padding-xxs);
  $border: 2px solid white;
  $width: 1.5rem;

  display: flex;
  flex-direction: column;
  gap: var(--padding-md);
  padding: var(--padding-md);

  .tabName {
    font-size: var(--font-size-lg);
    font-weight: bold;
  }

  .tabContainer {
    display: flex;
    flex-direction: row;
    gap: $gap;

    .tabCol {
      display: flex;
      flex-direction: column;
      gap: $gap;
      width: $width;
      height: 100%;

      .tabColName {
        display: block;
      }

      &:first-of-type,
      &.includesLine {
        border-right: $border;
      }

      & > * {
        height: $width;
        border-bottom: 1px solid rgba(255, 255, 255, 0.05);
        display: flex;
        justify-content: center;
        align-items: center;
      }

      & > *:first-child {
        border-bottom: $border;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }
    }

    .tabEndCol {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: $gap;
      border-left: $border;
      cursor: pointer;
      width: $width;
    }
  }

  input[type="range"] {
    $gapLeft: 1.5rem;
    $height: 2rem;
    $thumbWidth: 5px;

    margin-top: var(--margin-lg);
    width: calc(100% - $gapLeft);
    margin-left: $gapLeft;
    height: $height;
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    pointer-events: none;
    border-radius: var(--border-radius-sm);
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.05);

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      pointer-events: auto;
      height: $height;
      width: $thumbWidth;
      background-color: var(--secondary-colour);
      transition: var(--transition);
      border-radius: var(--border-radius-lg);

      &:hover {
        background-color: var(--secondary-colour-dark);
      }
    }
  }

  @include max-breakpoint(sm) {
    // font-size: 0.8rem;

    .tabName {
      display: flex;
      justify-content: center;
    }

    .tabContainer {
      overflow-x: auto;
      overflow-y: hidden;
      justify-content: center;
    }

    input[type="range"] {
      margin-left: 0;
      width: 100%;
    }
  }
}
