.modalContainer {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: transparent;
  top: 0;
  left: 0;
  z-index: 1;
  transition: var(--transition);

  &.active {
    background-color: rgba(0, 0, 0, 0.5);

    .modalContent {
      opacity: 1;
      top: 50%;
    }
  }

  .modalContent {
    position: fixed;
    background-color: var(--background-colour);
    left: 50%;
    transform: translate(-50%, -50%);
    padding: var(--padding-lg);
    border-radius: var(--border-radius-md);
    transition: var(--transition);
    top: 52.5%;
    opacity: 0;

    &.sm {
      min-width: 20rem;
    }

    &.md {
      min-width: 30rem;
    }

    &.lg {
      min-width: 50rem;
    }

    .header {
      display: flex;
      align-items: center;

      &.withTitle {
        margin-bottom: var(--margin-lg);
        border-bottom: 3px solid rgba(0, 0, 0, 0.1);
      }

      .heading {
        font-size: var(--font-size-xl);
        font-weight: bold;
        flex: 1;
      }

      .icon {
        cursor: pointer;
      }
    }
  }
}
