.sidebarContainer {
  $width: 20rem;
  display: flex;
  transition: var(--transition);

  &.closed {
    margin-left: calc($width * -1);

    .sidebarCollapse {
      .collapse {
        &:hover {
          padding-left: 0.8rem;
        }
      }
    }
  }

  .sidebarContent {
    display: flex;
    flex-direction: column;
    background-color: var(--background-colour-dark);
    box-shadow: var(--box-shadow);
    padding: 1rem;
    overflow-y: auto;
    width: $width;

    .mainContent {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: var(--margin-lg);

      .homePageLink {
        padding-bottom: var(--padding-lg);
        border-bottom: 2px solid rgba(0, 0, 0, 0.2);
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    .footerContent {
      display: flex;
      flex-direction: column;
      gap: var(--margin-lg);

      button {
        background-color: transparent;
        display: flex;
        gap: var(--margin-xs);
        justify-content: flex-start;

        &:hover {
          background-color: rgba(255, 255, 255, 0.025);
        }
      }

      .userContainer {
        position: relative;
        display: flex;
        align-items: center;
        gap: var(--margin-xs);
        padding: var(--padding-md);
        background-color: rgba(var(--background-colour-rgb), 0.5);
        border-radius: var(--border-radius-md);

        & > span {
          $profileWidth: 2.25rem;

          background-color: var(--secondary-colour);
          width: $profileWidth;
          height: $profileWidth;
          border-radius: $profileWidth;
          display: flex;
          justify-content: center;
          align-items: center;
          font-weight: bold;
        }

        .nameContainer {
          display: flex;
          flex-direction: column;
          flex: 1;

          .userName {
            color: rgba(255, 255, 255, 0.2);
          }
        }

        .menu {
          cursor: pointer;
          overflow: hidden;
          display: flex;
          align-items: center;
          transition: var(--transition);
          width: 0;
          opacity: 0;
          transform: scale(0.9);

          &.hover {
            width: 1.5rem;
            opacity: 1;
            transform: scale(1);
          }
        }
      }
    }
  }

  .sidebarCollapse {
    display: flex;
    align-items: center;

    .collapse {
      background-color: var(--background-colour-dark);
      box-shadow: var(--box-shadow-right);
      border-radius: 0 var(--border-radius-sm) var(--border-radius-sm) 0;
      cursor: pointer;
      transition: var(--transition);
      padding: 2rem 0.5rem;

      &:hover {
        padding-left: 0.2rem;
      }

      div {
        transition: var(--transition);
        transform: rotate(90deg);

        &.closed {
          transform: rotate(270deg);
        }
      }
    }
  }
}
