@import "@/styles/breakpoints.scss";

.songComponentContainer {
  width: 100dvw;
  height: 100dvh;
  display: flex;

  .songSidebar {
    display: flex;
    flex-direction: column;
    gap: var(--margin-xs);

    .list {
      display: flex;
      gap: var(--margin-xs);
    }

    .settingsContainer {
      margin-bottom: var(--margin-md);

      .header {
        padding: var(--padding-sm) 0;
      }

      .settings {
        display: grid;
        grid-auto-rows: 1fr;
        grid-template-columns: 1fr 1fr;
        gap: var(--margin-xs);
      }
    }
  }

  .songContent {
    flex: 1;
    height: 100dvh;
    overflow: auto;
    padding: 4rem 10rem 10rem;

    .songDetails {
      display: flex;
      flex-direction: column;
      text-align: left;
      margin-bottom: var(--margin-md);
      padding-bottom: var(--padding-md);

      border-bottom: 1px solid rgba(255, 255, 255, 0.1);

      .heading {
        font-size: 1.5rem;
        font-weight: bold;
      }

      .subHeading {
        font-size: 1.2rem;
        color: rgba(255, 255, 255, 0.6);

        font-weight: bold;
      }

      .extraDetails {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        margin-bottom: 1rem;

        .subHeading {
          font-size: 1rem;
          color: rgba(255, 255, 255, 0.45);
        }
      }

      .chordList {
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
        padding: var(--padding-md) 0;
        flex-wrap: wrap;

        .chordPill {
          background-color: var(--background-colour-light-2);
          padding: 0 var(--padding-xs);
          border-radius: 50px;
          position: relative;
          font-weight: bold;
          min-width: 2rem;
          text-align: center;
          font-size: 0.9rem;
          color: var(--text-colour-grey);
        }
      }
    }

    .songContainer {
      padding-top: var(--padding-md);
    }
  }

  @include max-breakpoint(sm) {
    .songContent {
      padding: 10dvw;
      padding-bottom: 40dvh;
    }
  }
}
