@import "@/styles/breakpoints.scss";

.songComponentContainer {
  width: 100dvw;
  height: 100dvh;
  display: flex;

  .songSidebar {
    display: flex;
    flex-direction: column;
    gap: var(--margin-xs);

    .list {
      display: flex;
      gap: var(--margin-xs);
    }

    .settingsContainer {
      .header {
        padding: var(--padding-sm) 0;
      }

      .settings {
        display: grid;
        grid-auto-rows: 1fr;
        grid-template-columns: 1fr 1fr;
        gap: var(--margin-xs);
      }
    }
  }

  .songContent {
    flex: 1;
    height: 100dvh;
    overflow: auto;
    padding: 4rem 10rem 10rem;

    .songDetails {
      display: flex;
      flex-direction: column;
      text-align: left;
      margin-bottom: var(--margin-md);
      padding-bottom: var(--padding-md);

      border-bottom: 1px solid rgba(255, 255, 255, 0.1);

      .heading {
        font-size: 1.5rem;
        font-weight: bold;
      }

      .subHeading {
        font-size: 1.2rem;
        color: rgba(255, 255, 255, 0.6);

        font-weight: bold;
      }

      .extraDetails {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        margin-bottom: 1rem;

        .subHeading {
          font-size: 1rem;
          color: rgba(255, 255, 255, 0.45);
        }
      }

      .chordList {
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
        padding: var(--padding-md) 0;

        .chordPill {
          background-color: var(--background-colour-light-2);
          padding: 0 var(--padding-xs);
          border-radius: 50px;
          position: relative;
          font-weight: bold;
          min-width: 2rem;
          text-align: center;
          font-size: 0.9rem;
          color: var(--text-colour-grey);
        }
      }
    }

    .songContainer {
      padding-top: var(--padding-md);

      .songLine {
        display: flex;
        align-items: flex-end;
        gap: 0.5rem;
        margin-bottom: 1rem;
        flex-wrap: wrap;

        .songWord {
          display: flex;
          flex-direction: column;
          text-align: left;
          min-width: 1rem;
          gap: 0.25rem;

          .songChord {
            display: flex;
            flex-direction: row;
            align-items: flex-end;
            gap: 0.5rem;
          }

          .songLyric {
            cursor: pointer;

            &.hasLyric {
              span {
                position: relative;
                &:after {
                  position: absolute;
                  content: "";
                  width: 100%;
                  height: 50%;
                  background-color: rgba(0, 0, 0, 0.2);
                  bottom: -50%;
                  left: 0;
                  border-radius: var(--border-radius-xs);
                }
              }
            }

            &.missingWordTiming {
              span {
                &:after {
                  background-color: rgba(var(--alert-colour-rgb), 0.2);
                }
              }
            }

            &.active {
              span {
                &:after {
                  background-color: rgba(var(--primary-colour-rgb), 0.8);
                }
              }
            }

            &:hover {
              span {
                &::before {
                  transform: scale(1);
                  opacity: 0.8;
                }
              }
            }

            span {
              display: inline-block;
              position: relative;
              line-height: 1;

              &::before {
                z-index: -1;
                $padding-block: var(--padding-xs);
                $padding-inline: var(--padding-xxs);
                content: "";
                width: calc(100% + #{$padding-inline} / 2);
                height: calc(100% + #{$padding-block} / 2);
                padding: $padding-block $padding-inline;
                background-color: var(--background-colour-light);
                border-radius: var(--border-radius-xs);
                position: absolute;
                top: calc(#{$padding-block} * -1);
                left: calc(#{$padding-inline} * -1);
                transform: scale(0.85);
                transition: 0.2s ease-out;
                opacity: 0;
              }
            }
          }
        }
      }
    }
  }

  @include max-breakpoint(sm) {
    .songContent {
      padding: 10dvw;
      padding-bottom: 40dvh;
    }
  }
}
