.chordViewerContainer {
  .chordName {
    font-size: var(--font-size-lg);
    font-weight: bold;
  }

  .chordContainer {
    margin-top: 2rem;

    display: flex;
    flex-direction: row;

    .chordCol {
      $width: 2rem;
      display: flex;
      flex-direction: column;

      &:first-of-type {
        & > div {
          border: none;
        }
      }

      &:last-of-type {
        & > div {
          border-color: transparent;
        }
      }

      & > div {
        width: $width;
        height: $width;
        border: 1px solid white;
        position: relative;

        span {
          width: calc($width * 0.5);
          height: calc($width * 0.5);
          display: flex;
          justify-content: center;
          align-items: center;

          border-radius: 50px;
          padding: 0.5rem;
          position: absolute;
          top: 50%;
          left: 0;
          transform: translate(-55%, -50%);

          &.fret {
            background-color: white;
          }

          &.open {
            border: 2px solid white;
          }

          &.muted,
          &.open {
            top: -50%;
          }
        }
      }
    }
  }

  input[type="range"] {
    $height: 2rem;
    $thumbWidth: 5px;

    margin-top: var(--margin-lg);
    width: 100%;
    height: $height;
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    pointer-events: none;
    border-radius: var(--border-radius-sm);
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.05);

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      pointer-events: auto;
      height: $height;
      width: $thumbWidth;
      background-color: var(--secondary-colour);
      transition: var(--transition);
      border-radius: var(--border-radius-lg);

      &:hover {
        background-color: var(--secondary-colour-dark);
      }
    }
  }
}
